<?xml version="1.0"?>
<launch>
<!-- ARGUMENTS -->
<!--arg name="camera_pose" default="-0.115 -0.05 1.18 0 0 0"/-->
<arg name="camera_pose" default="-0.115 -0.05 1.18 -1.57 0.0 -1.57"/>


<arg name="audio_device_operator_mic" default="" />

<!--arg name="device_audio_operator_speaker" default="pulse:alsa_output.usb-BurrBrown_from_Texas_Instruments_USB_AUDIO_CODEC-00.analog-stereo"/-->

<arg name="device_audio_operator_speaker" default="" />

<node name="audio_play_operator_speaker" pkg="audio_play" type="audio_play" output="screen">
	<remap from="audio" to="/audio_robot_mic"/>
	<param name="device" value="$(arg device_audio_operator_speaker)"/>
	<param name="channels" value="1"/>
	<param name="sample_rate" value="16000"/>
	<param name="sample_format" value="S16LE"/>
	<param name="format" value="wave"/>
</node>

<!-- PLAY SOUND from robot 
<node name="audio_play_robot" pkg="audio_play" type="audio_play" output="screen">
	<remap from="audio" to="audio_robot"/>
	<param name="device" value=""/>
	<param name="channels" value="1"/>
	<param name="sample_rate" value="16000"/>
	<param name="sample_format" value="S16LE"/>
	<param name="format" value="wave"/>
</node>
-->

<node name="audio_capture_operator_mic" pkg="audio_capture" type="audio_capture" output="screen">
	<remap from="audio" to="audio_operator"/>
	<param name="device" value="$(arg audio_device_operator_mic)"/>
	<param name="channels" value="1"/>
	<param name="sample_rate" value="16000"/>
	<param name="sample_format" value="S16LE"/>
	<param name="format" value="wave"/>
</node>

<!-- MIC from operator 
<node name="audio_capture_operator" pkg="audio_capture" type="audio_capture" output="log">
	<remap from="audio" to="audio_operator"/>
	<param name="device" value=""/>
	<param name="channels" value="1"/>
	<param name="sample_rate" value="16000"/>
	<param name="sample_format" value="S16LE"/>
	<param name="format" value="wave"/>
</node>
-->

<!-- JOYSTICK -->


<arg name="remote_joy/joystick_dev" default="/dev/input/js0"/>


<arg name="remote_joy/max_linear_vel" default="0.8" />
<arg name="remote_joy/max_side_vel" default="0.001" />
<arg name="remote_joy/max_angular_vel" default="0.8" />
<arg name="remote_joy/timeout_duration" default="-1" />


<node respawn="true" pkg="joy" type="joy_node" name="remote_joy_node" >
	<param name="dev" type="string" value="$(arg remote_joy/joystick_dev)" />
	<remap from="joy" to="remote_joy_node/joy" />
</node>



<!-- JOYSTICK TELEOP -->
<node respawn="true" pkg="joy_teleop" type="joy_teleop_node" name = "remote_joystick_teleop">
    <param name="activate_button_id" value="1" type="int" />
    <param name="axis_side_id" value="0" type="int" />
    <param name="axis_linear_id" value="5" type="int" />
    <param name="axis_angular_id" value="2" type="int" />
    <param name="max_linear_vel" value="$(arg remote_joy/max_linear_vel)" type="double" />
    <param name="max_side_vel" value="0.0" type="double" />
    <param name="max_angular_vel" value="$(arg remote_joy/max_angular_vel)" type="double" />
    <param name="timeout_duration" value="$(arg remote_joy/timeout_duration)" type="double" />
    <remap from="~joy" to="remote_joy_node/joy" />
</node>

<!-- CAMERA TF -->
<node pkg="tf2_ros" type="static_transform_publisher" name="camera_tf" args="$(arg camera_pose) base_link head_camera" />

<!-- DECOMPRESS  -->
<node pkg="image_transport" type="republish" name="image_decompress" args="compressed raw">
    <remap from="in" to="/usb_cam/image_raw"/>
    <remap from="out" to="/usb_cam/image_raw"/>
</node>

<!-- CAMERA INFO -->
<node pkg="amano_b4" type="yaml_to_camera_info_publisher.py" name="camera_info_publisher">
    <param name="filename" value="$(find amano_b4)/config/camera_info.yaml"/>
    <remap from="camera_info" to="usb_cam/camera_info"/>
</node>

<!-- VISUALIZER -->
<node pkg="rviz" type="rviz" name="rviz" args="--display-config $(find amano_b4)/rviz/ht_camera_from_bag.rviz">
</node>

<!-- PUBLISH TARGET -->
<node pkg="amano_b4" type="interface_with_image.py" name="pub_target" output="screen">
</node>


<!-- SHOW IMAGE -->
<node pkg="image_view2" type="image_view2" name="image_view2" args="image:=/my_image_raw" />

<!-- PUBLISH GOAL POSE -->
<node pkg="amano_b4" type="publish_position.py" name="pub_point"   output="screen"/>

<!-- OPERATE WITH KEYBOARD -->
<node pkg="amano_b4" type="keyboard_move.py" name="keyboardMove" />

</launch>
